<div class="formulario">
    <div id="inscribete" class="texto">
        <span class="text1">Inscribete en linea y </span>
        <span class="text-blanco">tranforma tu </span>
        <span class="text-amarillo">AHORRO</span>
        <span class="text-blanco"> en </span>
        <span class="text-amarillo">CALIDAD DE VIDA</span>
        <p class="text2">para que alcances todas tus metas.</p>
    </div>
    <input class="input" type="text" placeholder="Nombre completo">
    <input class="input" type="mail" placeholder="Correo electronico">
    <input class="input" type="text" placeholder="Teléfono">
    <select class="input" name="Ahorro de interes">
        <option value="1">AHORRO PERMANENTE</option>
        <option value="2">AHORRO A LA VISTA</option>
        <option value="3">AHORRO PROGRAMADO</option>
        <option value="4">CERTIFICADO A TERMINO CDAT</option>
        <option value="5">CUENTA DE AHORROS COOPKIDS</option>
    </select>
    <div class="check">
        <input type="checkbox">
        <p>Acepta terminos y condiciones</p>
    </div>
    <button class="boton" mat-raised-button color="accent">Enviar</button>
</div>