<div class="container">
    <div>
        <i class="icono fas fa-book"></i>
        <h2 class="texto">Auxilio educativos</h2>
        <p class="parrafo">Beneficios para asociados e hijos que se destaquen por su excelencia académica</p>
    </div>
    <div>
        <i class="icono fas fa-wallet"></i>
        <h2 class="texto">Tasas únicas</h2>
        <p class="parrafo">Tenemos excelentes tasas para que tus sueños y metas puedan estar</p>
    </div>
    <div>
        <i class="icono fas fa-piggy-bank"></i>
        <h2 class="texto">Alta rentabilidad</h2>
        <p class="parrafo">Ideales para fortalecer tu capital y alcanzar metas a mediano o largo plazp</p>
    </div>
</div>
<div>
    <h2 class="titulo">Somos una cooperativa de ahorro y crédito</h2>
    <p class="info">conoce nuestros productos enfocados en ayudarte a cumplir tus metas, y escoge el que mejor se
        ajuste a tus
        necesidades</p>
</div>
<div id="beneficios">
    <div class="bloque-beneficios">
        <app-servicios titulo="Ahorro PROGRAMADO" descripcion="Un compromiso que adquieres ahorrando una cuota fija mensual, al plazo que estipules según meta
        proyectada." icono="fas fa-clock"></app-servicios>
        <app-servicios titulo="Ahorro a TÉRMINO CDAT"
            descripcion="Contrato de ahorro a término no negociable, inembargable hasta cuantía determinada según la legislacón vigente."
            icono="fas fa-calendar-check">
        </app-servicios>
        <app-servicios titulo="Ahorro A LA VISTA"
            descripcion="Garantiza la disponibilidad inmediata de tu dinero ahorrado, con rentabilidad diaria sobre el saldo de la cuenta."
            icono="fas fa-eye"></app-servicios>
    </div>
    <div class="bloque-beneficios">
        <app-servicios titulo="Ahorro PERMANENTE"
            descripcion="Es el ahaorro correspondiente a los depósitos que como asocíado debe integrar obligatoriamente."
            icono="fas fa-lock"></app-servicios>
        <app-servicios titulo="Ahorro COOPKIDS"
            descripcion="Para uno o varios de sus hijos y/o nietos con edades enetre 0 y 17 años, cuenta con el respaldo del seguro de Depósito FOGACCOP"
            icono="fas fa-child"></app-servicios>
        <div class="card">
            <p class="detalle-texto">¿Quieres saber cuál producto se acomoda mejor a tus necesidades?</p>
            <a class="boton" href="inscribete">Inscribete</a>
        </div>
    </div>