<div class="container">
    <img class="imagen" src="../../../assets/images/Grupo 46.png" alt="">
    <img class="imagen" src="../../../assets/images/Grupo 51.png" alt="">
    <img class="imagen" src="../../../assets/images/dian.jpg" alt="">
    <img class="imagen" src="../../../assets/images/Grupo 55.png" alt="">
    <img class="imagen" src="../../../assets/images/fogacoop-footer.jpg" alt="">
</div>
<div class="footer">
    <hr class="hr">
    <div class="pie-pagina">
        <img class="imagen-footer" src="../../../assets/images/l-cootracerrejon-min.png" alt="">
        <div class="contacto">
            <p> <i class="fas fa-phone-alt"></i> 385 4923 - 3855669</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
</div>