.container {
    display: flex;
    justify-content: center;
    background-image: url(../../../assets/images/banner-landing1-min.jpg);
    background-size: cover;
    width: 90%;
    height: 645px;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}
